{% extends 'base.html' %}
{% block content %}
<center>
    <div class="container">
        <div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
            <div class="card-header">+91 180 5647 902</div>
            <div class="card-body">
                <h5 class="card-title" style="color: #ffc107;">Clark Kent</h5>
                <p class="card-text">I once thought I could protect the world by myself, but I was wrong. Working
                    together, we saved the planet, and I believe that if we stay together as a team, we could be a force
                    that could truly work for the ideals of peace and justice.</p>
            </div>
        </div>
    </div>
</center>
{% endblock %}